AuthClientId=kanban_sim
AuthClientSecret=client_secret

AuthAuthority=https://my.web.site
AuthCallbackUrl=/auth/signin-oidc

BASE_URL=http://localhost
SESSION_SECRET_KEY=change-me-to-a-random-value
SESSION_COOKIE_SECURE=false
